@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
  --header-color: #000;
  --paragraph-background: #00000037;

  --font-emphasis: 'Kalnia', serif;
  --font-paragraph: 'Roboto', sans-serif;
  --font-cordel: 'Sriracha', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: #FFF;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--header-color);
  color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-title {
  font-size: 3rem;
  font-family: var(--font-emphasis);
  font-variant: small-caps;
}

.header-subtitle {
  font-family: var(--font-emphasis);
  font-variant: small-caps;
}

.author-link {
  font-family: var(--font-paragraph);
  color: #ccccccc4;
}

.author-link:hover {
  color: antiquewhite;
  transition-duration: 1s;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cordel-paragraph-1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10rem 1.25rem;
}

.cordel-item {
  font-family: var(--font-cordel);
  line-height: 2;
  font-weight: bold;
  font-size: 2.50rem;
  max-width: 600px;
}

.cordel-paragraph-2 {
  background-color: #000;
  background-image: url(components/images/background001.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cordel-paragraph-2 > p {
  background-color: var(--paragraph-background);
  color: #FFF;
  padding: 0 1.25rem;
}

.cordel-pragraph-3-and-4 {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 6rem;
  padding: 10rem 1.25rem;
}

.cordel-paragraph-5 {
  background-color: #000;
  background-image: url(components/images/background002.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cordel-paragraph-5 > p {
  background-color: var(--paragraph-background);
  color: #FFF;
  padding: 0 1.25rem;
}

.cordel-paragraph-6 {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 6rem;
  padding: 10rem 1.25rem;
}

footer {
  background-color: var(--header-color);
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.50rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.copy {
  font-family: var(--font-emphasis);
  font-weight: normal;
}

.copy-link {
  font-family: var(--font-paragraph);
  color: #ccccccc4;
  font-weight: bold;
}

.copy-link:hover {
  color: antiquewhite;
  transition-duration: 1s;
}

@media screen and (max-width: 600px) {
  .cordel-item {
    font-size: 1.5rem;
  }

  .copy {
    text-align: center;
  }
}